/target/
.idea
.DS_Store

terraform/**/.terraform/*

terraform/*.tfstate
terraform/*.tfstate.*

terraform/*.tfvars
terraform/*.tfvars.json

terraform/.terraformrc
terraform/terraform.rc

terraform/.DS_Store

terraform/override.tf
terraform/override.tf.json
terraform/*_override.tf
terraform/*_override.tf.json

terraform/crash.log
terraform/crash.*.log

terraform/.terraform.lock*
